@model IEnumerable<ProjetoEcommerce.Models.tbPacoteComPassagemProduto>
<link href="~/css/pacotecompassagemprodutoindex.css" rel="stylesheet" />

<nav class="nav">
    <div class="container row ">
        <div class="text-star col">
            <h1 class="text-primary">Anu Viagens</h1>
            <p class="text-nav fs-6">Acompanhe todos os seus registros em um único lugar.</p>
            <div class="d-flex 	justify-content-start  p-2 pb-1">
                <div class="search-box">
                    <input type="text" id="inputPesquisa" class="search-txt text-white" placeholder="Pesquisar...">
                    <a href="#" class="search-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="btn-nav col d-flex justify-content-end align-items-start pt-3">
            <a asp-controller="Dashboard" asp-action="Index" class="btn rounded-3 btn-primary">
                <i class="bi bi-arrow-left-circle"></i> Voltar
            </a>
        </div>
    </div>
</nav>
<<<<<<< HEAD
                 </thead>
=======

<section>
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead class="table-primary">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.IdPacote)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NomeProduto)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NomePacote)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Quantidade)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Assento)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Situacao)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Translado)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CodigoTransporte)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Valor)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Companhia)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TipoTransporte)
                            </th>
                        </tr>
                    </thead>
>>>>>>> Amanda-Dev
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td class="text-truncate" style="max-width: 300px;">
                                    @Html.DisplayFor(modelitem => item.IdPacote)
                                </td>
                                <td class="text-truncate" style="max-width: 300px;">
                                    @Html.DisplayFor(modelitem => item.NomeProduto)
                                </td>
                                <td class="text-truncate" style="max-width: 300px;">
                                    @Html.DisplayFor(modelitem => item.NomePacote)
                                </td>
                                <td class="text-truncate" style="max-width: 300px;">
                                    @Html.DisplayFor(modelitem => item.Quantidade)
                                </td>
                                <td class="text-truncate" style="max-width: 300px;">
                                    @Html.DisplayFor(modelitem => item.Assento)
                                </td>
                                <td class="text-truncate" style="max-width: 300px;">
                                    @Html.DisplayFor(modelitem => item.Situacao)
                                </td>
                                <td class="text-truncate" style="max-width: 300px;">
                                    @Html.DisplayFor(modelitem => item.Translado)
                                </td>
                                <td class="text-truncate" style="max-width: 300px;">
                                    @Html.DisplayFor(modelitem => item.CodigoTransporte)
                                </td>
                                <td class="text-truncate" style="max-width: 300px;">
                                   R$ @Html.DisplayFor(modelitem =>  item.Valor)
                                </td>
                                <td class="text-truncate" style="max-width: 300px;">
                                    @Html.DisplayFor(modelitem => item.Companhia)
                                </td>
                                <td class="text-truncate" style="max-width: 300px;">
                                    @Html.DisplayFor(modelitem => item.TipoTransporte)
                                </td>

                                <td class="text-center">
                                    <div class="btn-group btn-group-sm " role="group">
                                        <a asp-controller="Pacote" asp-action="EditarPacote" asp-route-id="@item.IdPacote"
                                           class="btn btn-outline-primary  rounded-3  me-3" title="Editar">
                                            <i class="bi bi-pencil-square "></i>
                                        </a>
                                        <span> </span>
                                        <a asp-controller="Dashboard" asp-action="Index" onclick="return confirm('Deseja realmente excluir esse Produto ?');" asp-route-id="@item.IdPacote"
                                           class="btn btn-outline-primary rounded-3" title="Voltar">
                                            <i class="bi bi-trash"></i>
                                        </a>
                                    </div>
                                <td>@item.IdPacote</td>
                                <td>@item.NomeProduto</td>
                                <td>@item.NomePacote</td>
                                <td>@item.Assento</td>
                                <td>@item.Situacao</td>
                                <td>@item.TipoTransporte</td>
                                <td>@item.Companhia</td>
                                <td>@item.CodigoTransporte</td>
                                <td>@item.Valor.ToString("C")</td>
                                <td class="text-center">
                                    <a asp-controller="Pacote" asp-action="ExcluirPacote" asp-route-id="@item.IdPacote"
                                       class="btn btn-outline-danger rounded-3" title="Excluir">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
