@model IEnumerable<ProjetoEcommerce.Models.tbPassagemComViagem>

<nav class="nav">
    <div class="container">
        <div class="text-star">
            <h1 class="text-primary">Anu Viagens</h1>
            <p class="text-nav fs-6">Acompanhe todos os seus registros em um único lugar.</p>
        </div>
    </div>
</nav>
<section>
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead class="table-primary">
                        <tr>
                            <th style="max-width: 600px;">
                                @Html.DisplayNameFor(model => model.IdPassagem)
                            </th>
                            <th style="max-width: 600px;">
                                @Html.DisplayNameFor(model => model.DataPartida)
                            </th>
                            <th style="max-width: 600px;">
                                @Html.DisplayNameFor(model => model.DataRetorno)
                            </th>
                            <th style="max-width: 600px;">
                                @Html.DisplayNameFor(model => model.Origem)

                            </th>
                            <th style="max-width: 600px;">
                                @Html.DisplayNameFor(model => model.Destino)

                            </th>
                            <th style="max-width: 600px;">
                                @Html.DisplayNameFor(model => model.Assento)

                            </th>
                            <th style="max-width: 600px;">
                                @Html.DisplayNameFor(model => model.TipoTransporte)
                            </th>
                            </th style="max-width: 400px;">
                            <th>
                                @Html.DisplayNameFor(model => model.CodigoTransporte)
                            </th>
                            <th style="max-width: 600px;">
                                @Html.DisplayNameFor(model => model.Translado)
                            </th>
                            <th style="max-width: 600px;">
                                @Html.DisplayNameFor(model => model.Companhia)
                            </th>
                            <th style="max-width: 600px;">
                                @Html.DisplayNameFor(model => model.Valor)
                            </th>
                            <th style="max-width: 600px;">
                                @Html.DisplayNameFor(model => model.Descricao)

                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-truncate" style="max-width: 600px;">
                                    @Html.DisplayFor(modelitem => item.IdPassagem)
                                </td>
                                <td class="text-truncate" style="max-width: 600px;">
                                    @Html.DisplayFor(modelitem => item.DataPartida)
                                </td>
                                <td class="text-truncate" style="max-width: 600px;">
                                    @Html.DisplayFor(modelitem => item.DataRetorno)
                                </td>
                                <td class="text-truncate" style="max-width: 600px;">
                                    @Html.DisplayFor(modelitem => item.Origem)
                                </td>
                                <td class="text-truncate" style="max-width: 600px;">
                                    @Html.DisplayFor(modelitem => item.Destino)
                                </td>
                                <td class="text-truncate" style="max-width: 600px;">
                                    @Html.DisplayFor(modelitem => item.Assento)
                                </td>
                                <td class="text-truncate" style="max-width: 600px;">
                                    @Html.DisplayFor(modelitem => item.TipoTransporte)
                                </td>
                                <td class="text-truncate" style="max-width: 600px;">
                                    @Html.DisplayFor(modelitem => item.CodigoTransporte)
                                </td>
                                <td class="text-truncate" style="max-width: 600px;">
                                    @Html.DisplayFor(modelitem => item.Translado)
                                </td>
                                <td class="text-truncate" style="max-width: 600px;">
                                    @Html.DisplayFor(modelitem => item.Companhia)
                                </td>
                                <td class="text-truncate" style="max-width: 600px;">
                                    @Html.DisplayFor(modelitem => item.Valor)
                                </td>
                                <td class="text-truncate" style="max-width: 600px;">
                                    @Html.DisplayFor(modelitem => item.Descricao)
                                </td>
                                <td class="text-center">
                                    <div class="btn-group btn-group-sm " role="group">
                                        <a asp-controller="Passagem" asp-action="EditarPassagem" asp-route-id="@item.IdPassagem"
                                           class="btn btn-outline-primary  rounded-3  me-3" title="Editar">
                                            <i class="bi bi-pencil-square "></i>
                                        </a>
                                        <span> </span>
                                        <a asp-controller="Passagem" onclick="return confirm('Deseja realmente excluir essa passagem? ?');" asp-action="ExcluirPassagem" asp-route-id="@item.IdPassagem"
                                           class="btn btn-outline-primary rounded-3" title="Voltar">
                                            <i class="bi bi-trash"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
